@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,body{

    height: 100vh;
    width: 100vw;
    background-image: url(images/great.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 9%;
    max-width: 100%;
}
/* navbar settings */
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-right {
    position: absolute;
    left: 92%;
    transform: translatex(-50%);
}
/* Glowing alpha studio */
.glow {
    font-family: 'Abril Fatface', cursive;
    padding-top: 7% !important;
    font-size: 50px !important;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  /* Navbar font */

  .fnt{
    font-family: 'Oswald', sans-serif;
  }


  .features{
    margin-top: 57vw;
    
  }

  .fnts {
    font-family: 'Bebas Neue', cursive;
    
}


/* Features images */
.sizeimg{
  width: 18vw;
  height: 32vh;
  transition: transform .4s ease;
  border-radius: 25px;
}

.sizeimg:hover{
  transform: scale(1.2);
}

/* parallax */

.parallax{
  height: 100vh;
  background-image: url('images/UIbackgroud.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  overflow-x: hidden;
}

input[type="text"]{
  width: 25vw;
}

textarea{
  width: 45vw;
}


/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #414141, #000000);
  background: linear-gradient(59deg, #414141, #000000);
  color: white;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #708090;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}


.social-network a.icoInstagram:hover{
  background-color: #fb3958;
}

.social-network a.icoSnapchat:hover{
  background-color:#c8232c;
}



.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoSnapchat:hover i

 {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


.fade{
  opacity: 1;
}

.cdimages{
  background-color: #000000;
background-image: linear-gradient(90deg, #000000 0%, #04619f 74%);

}